%heading-570 {
  font-size: 57rem;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

%heading-300 {
  font-size: 30rem;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

%heading-200 {
  font-size: 20rem;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

%heading-160 {
  font-size: 16rem;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}
